<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title></title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

	  <script src="bootstrap/js/jquery.js"></script>
      <script src="scripts/libs/underscore.js" type="text/javascript"></script>
 <script src="scripts/libs/backbone-min.js" type="text/javascript"></script>
      
      
      <style type="text/css" >
.load{background:url('images/ajax-loader.gif') no-repeat center;}
</style>

      
<script type="text/javascript">

        $(document).ready(function () {   
        
        $(document).click(function() {
            $('a[rel=popover]').popover('destroy');
        });
        
       
        $("a[rel=popover]").live({
        mouseenter:
           function()
           {
             $('a[rel=popover]').popover('destroy');
             var e=$(this); 
             // e.popover().popover({ placement:'bottom'});        
              e.popover({ placement:get_popover_placement}).popover('show');
             
           }
        }
       );
       
       
       function get_popover_placement(pop, dom_el) {
      var width = window.innerWidth;
      if (width<500) return 'bottom';
      var left_pos = $(dom_el).offset().left;
      if (width - left_pos > 400) return 'right';
      return 'left';
    }
       
       
       function get_popover_placement3(tip, element) {
        var offset = $(element).offset();
        height = $(document).outerHeight();
        width = $(document).outerWidth();
        vert = 0.5 * height - offset.top;
        vertPlacement = vert > 0 ? 'bottom' : 'top';
        horiz = 0.5 * width - offset.left;
        horizPlacement = horiz > 0 ? 'right' : 'left';
        placement = Math.abs(horiz) > Math.abs(vert) ?  horizPlacement : vertPlacement;
        return placement;
}
       
       
       
         function get_popover_placement2(tip, element) {
    var $element, above, actualHeight, actualWidth, below, boundBottom, boundLeft, boundRight, boundTop, elementAbove, elementBelow, elementLeft, elementRight, isWithinBounds, left, pos, right;
    isWithinBounds = function(elementPosition) {
      return boundTop < elementPosition.top && boundLeft < elementPosition.left && boundRight > (elementPosition.left + actualWidth) && boundBottom > (elementPosition.top + actualHeight);
    };
    $element = $(element);
    pos = $.extend({}, $element.offset(), {
      width: element.offsetWidth,
      height: element.offsetHeight
    });
    actualWidth = 283;
    actualHeight = 117;
    boundTop = $(document).scrollTop();
    boundLeft = $(document).scrollLeft();
    boundRight = boundLeft + $(window).width();
    boundBottom = boundTop + $(window).height();
    elementAbove = {
      top: pos.top - actualHeight,
      left: pos.left + pos.width / 2 - actualWidth / 2
    };
    elementBelow = {
      top: pos.top + pos.height,
      left: pos.left + pos.width / 2 - actualWidth / 2
    };
    elementLeft = {
      top: pos.top + pos.height / 2 - actualHeight / 2,
      left: pos.left - actualWidth
    };
    elementRight = {
      top: pos.top + pos.height / 2 - actualHeight / 2,
      left: pos.left + pos.width
    };
    above = isWithinBounds(elementAbove);
    below = isWithinBounds(elementBelow);
    left = isWithinBounds(elementLeft);
    right = isWithinBounds(elementRight);
    if (above) {
      return "top";
    } else {
      if (below) {
        return "bottom";
      } else {
        if (left) {
          return "left";
        } else {
          if (right) {
            return "right";
          } else {
            return "right";
          }
        }
      }
    }
  }
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
               
  
 
            
            
            
        });

        </script>


</head>
<body> 
<!--
** Person Profile          ** 
**                           **
--> 

<script type="text/template" id="tmplt-personProfile">

<div class="span4 well">
	<div class="row">
		<div   width="100"  hight="90" ><img   src="<%= gsuPersonPhoto %>" alt="" width="100"  hight="90"></div>
		<div class="span3">
			<p> <%= title %></p>
          	<strong><p><%= cn %></p></strong>
			<span class=" badge badge-warning"><%= gsuPersonJobCode %></span> <span class=" badge badge-info"> <%= ou %>  </span>
		</div>
	</div>
</div>

   
</script>


<!--
** Results Template          ** 
**                           **
--> 
<script type="text/template" id="tmplt-Results">
              <thead>
                <tr>                 
                  <th>First Name</th>
                  <th>Last Name</th>                
                </tr>
              </thead>
    <tbody>
    </tbody>
</script>
    
    
<script type="text/template" id="tmplt-Result">   
    <td>  <a href="#person/<%= eduPersonPrincipalName %>" data-html="true" data-content="<b><%= title %></b>"  rel="popover"  title="<%= givenName %> <%= sn %> "><%= givenName %></a> </td>
     <td>  <a href="#person/<%= eduPersonPrincipalName %>"><%= sn %></a> </td>
</script>





<div class="container">
         
       



    <h1>Campus Directory</h1>


  

<form class="form-inline">
  <input type="text" class="input"  id="fn" placeholder="First Name">
  <input type="text" class="input"  id="ln" placeholder="Last Name">
  <select class="span2" id="restrict">
                   <option value=""  selected="selected" > All </option>
                   <option value="stu" > Student </option>
                   <option value="fas" > Faculty/Staff </option>  
  </select> 
  <button type="button" class="btn" id="runquery">Search</button>
  
  <label class="checkbox" id="loadlabel">
    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
  </label>
</form>


 <table class="table table-striped table-condensed table-hover"  id="mainContainer">
              <thead>
                <tr>                 
                  <th>First Name</th>
                  <th>Last Name</th>                
                </tr>
              </thead>
</table>

 



 <script type="text/javascript">
(function($) {
var Person = {
    Models: {},
    Collections: {},
    Views: {},
    Templates:{}
}

Person.Models.Result = Backbone.Model.extend({})
Person.Collections.Results = Backbone.Collection.extend({
    model: Person.Models.Result,
    initialize: function(models, options){
        this.givenName = options.givenName;
        this.sn = options.sn;
         this.sc = options.sc;
         $("#loadlabel").addClass("load");
    },
    url: function() {
       return "../../directory/api/Person?givenName=" + this.givenName + "&sn=" + this.sn + "&sc=" + this.sc;
    },
    
     parse: function(response) {
     return response[0].NAMES;
  }
});



Person.Collections.Person = Backbone.Collection.extend({
    initialize: function(models, options){
        this.query = options.query;
    },
    url: function() {
      return "../../directory/api/Person/" + this.query;    
    }
});











Person.Templates.Results = _.template($("#tmplt-Results").html())
Person.Views.Results = Backbone.View.extend({
    el: $("#mainContainer"),
    template: Person.Templates.Results,

    initialize: function () {
        this.collection.bind("reset", this.render, this);
        this.collection.bind("add", this.addOne, this);
    }, 

    render: function () {
   
        $(this.el).html(this.template());
        this.addAll();
         $("#loadlabel").removeClass("load");
    },

    addAll: function () {
        this.collection.each(this.addOne);
    },

    addOne: function (model) {
        view = new Person.Views.Result({ model: model });
        $("tbody", this.el).append(view.render());
    }

})




Person.Templates.Result = _.template($("#tmplt-Result").html())
Person.Views.Result = Backbone.View.extend({
    tagName: "tr",
    template: Person.Templates.Result,
    //events: { "click .delete": "test" },

    initialize: function () {
        //_.bindAll(this, 'render', 'test');
        this.model.bind('destroy', this.destroyItem, this);
        this.model.bind('remove', this.removeItem, this);
    },

    render: function () {
        return $(this.el).append(this.template(this.model.toJSON())) ;
    },

    removeItem: function (model) {
        this.remove();
    }
})


Person.Templates.search = _.template($("#tmplt-personProfile").html())
Person.Views.SearchView = Backbone.View.extend({
   el: $("#mainContainer"),
   template: Person.Templates.search,
   initialize: function () {
        this.collection.bind("reset", this.render, this);
    }, 
    render: function () {
        this.collection.each(function(model) {
           $(this.el).html(this.template(model.toJSON()));  
        }, this);
        return this;
    }
   
});
    



  var MainView = Backbone.View.extend({
    el: $('body'),
    // el attaches to existing element
    // `events`: Where DOM events are bound to View methods. Backbone doesn't have a separate controller to handle such bindings; it all happens in a View.
    events: {
      'click button#runquery': 'searchOnEnter',
      'keypress': 'searchOnEnter', 
      'keyup  input#fn': 'searchOnEnter',
      'keyup  input#ln': 'searchOnEnter',
      'change select#restrict': 'searchOnEnter'      
    },
    initialize: function() {
      _.bindAll(this,  'searchOnEnter','showKey'); // every function that uses 'this' as the current object should be in here
      this.doneTypingInterval = 400; // total number of items added thus far
      this.typingTimer ; 

    },
    
    showKey: function(e){
       console.log(e.keyCode);
    },
    searchOnEnter: function(e) {
    //if (e.keyCode == 13) return;
     //e.preventDefault();
            var fnVal="";
            var lnVal="";
            var restrictval=""
            clearTimeout(this.typingTimer);
            if ($('#fn').val || $('#ln').val) {
                this.typingTimer = setTimeout(doneTyping, this.doneTypingInterval);
            }
            function doneTyping () {       
                  fnVal = encodeURIComponent(this.$('#fn').val());
                  lnVal = encodeURIComponent(this.$('#ln').val());
                  restrictval = this.$('#restrict').find(":selected").val();
                  console.log(restrictval)
                  //$("ul", this.el).empty();
                  Person.Results = new Person.Collections.Results([], { givenName: fnVal, sn: lnVal , sc: restrictval });
                  new Person.Views.Results({ collection: Person.Results }); //Add this line
                  Person.Results.fetch();
                  //appRouter.navigate("search/"+fnVal, true);//nice. sends you back 
                  console.log(Person.Results.length)
            }
    }   
    
  });
  
  


  var mainView = new MainView();
  
  
  Person.Router = Backbone.Router.extend({

          routes: {
              "": "defaultRoute",  //http://localhost:22257/Person/Person.htm
              "search/:q":"search", //This matches app/animals/* and assigns * to a variable called "animal"
              "person/:id":"getperson" //This matches app/animals/* and assigns * to a variable called "animal"
          },
          getperson:function (id) {
               console.log("defaultRoute");        
              Person.person = new Person.Collections.Person([], { query: id });
              new Person.Views.SearchView({ collection: Person.person });
              Person.person.fetch();
          },
          
          search:function (q) {
                  Person.Results = new Person.Collections.Results([], { givenName: q });
                  new Person.Views.Results({ collection: Person.Results }); //Add this line
                  Person.Results.fetch();
          },
          
          defaultRoute: function () {
              console.log("defaultRoute");
          }
   })

   var appRouter = new Person.Router();
    Backbone.emulateHTTP = true;
    Backbone.emulateJSON = true;
    Backbone.history.start();
  
  
})(jQuery);
</script>
    
    
    
    
    
    
     <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>
</body>
</html>
